<title> Sails Investments- BMac </title>
<div style="float: right"><img src="http://www.clipartbest.com/cliparts/ace/o7B/aceo7BKdi.gif" width="85" height="100" alt="Dollar Sign"/></div>
<div style="text-align: center">
  <h3> <a href="/../">Sails Homepage</a> </div> </h3>

<h3><u>All Stocks</u></h3>
<table>
  <tr>
    <th>Owner ID</th>
    <th> Customer Name</th>
    <th>Symbol</th>
    <th>Number of Shares</th>
    <th>Purchase Price</th>
    <th>Date Purchased</th>

  </tr>

  <% _.each(stocks, function(stock) { %>
  <tr data-id="<%= stock.id %>" data-model="stock" >
    <td><%= stock.owner%></td>
    <td><%=stock.name%></td>
    <td><%= stock.symbol %></td>
    <td><%= stock.number_of_shares %></td>
    <td><%= stock.price %></td>
    <td><%= stock.date_purchased%></td>
    <td><a href="/stock/show/<%= stock.id %>">Show</a></td>
    <td><a href="/stock/edit/<%= stock.id %>">Edit</a></td>
    <td><a href="/stock/destroy/<%= stock.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>
<br>
<div> <p> <a href="../customer/"> All Customers </a></p> </div>
<div> <p> <a href="../investment/"> All Investments </a></p> </div>
