<title> Sails Investments- BMac </title>
<div style="float: right"><img src="http://www.clipartbest.com/cliparts/ace/o7B/aceo7BKdi.gif" width="85" height="100" alt="Dollar Sign"/></div>
<div style="text-align: center">
  <a href="/../">Sails Homepage</a> </div>


<h1>Symbol: <%= stock.symbol %></h1>
<h3> Name: <%= stock.name %></h3>
<h4>Number of Shares: <%= stock.number_of_shares %></h4>
<h4>Price: $<%= stock.price %></h4>
<h4>Date Purchased: <%= stock.date_purchased%></h4>

<a href="/stock/index">Back to All Stocks</a>
