<h1>Symbol: <%= stock.symbol %></h1>
<h3> Name: <%= stock.name %></h3>
<h4>Number of Shares: <%= stock.number_of_shares %></h4>
<h4>Price: $<%= stock.price %></h4>
<h4>Date Purchased: <%= stock.date_purchased%></h4>
