<title> Sails Investments- BMac </title>
<div style="float: right"><img src="http://www.clipartbest.com/cliparts/ace/o7B/aceo7BKdi.gif" width="85" height="100" alt="Dollar Sign"/></div>
<div style="text-align: center">
  <a href="/../">Sails Homepage</a> </div>

<form action="/investment/update/<%= investment.id %>" method="POST" >
  <h2>Edit an Investment</h2>

  <input value="<%= investment.category%>"type="text" name="name" ><br />
  <input value="<%= investment.description %>"type="text" name="email"><br/>
  <input value="<%= investment.aquired_value%>" type="text" name="aquired_value" ><br />
  <input value="<%= investment.aquired_date %>" type="text" name="aquired_date" />
  <input value="<%= investment.recent_value %>" type="text" name="recent_value" />
  <input value="<%= investment.recent_date%>" type="text" name="recent_date"/>
  <input type="submit" value="Edit customer" />
</form>
