<title> Sails Investments- BMac </title>
<div style="float: right"><img src="http://www.clipartbest.com/cliparts/ace/o7B/aceo7BKdi.gif" width="85" height="100" alt="Dollar Sign"/></div>
<div style="text-align: center">
  <h3> <a href="/../">Sails Homepage</a> </h3> </div>


<h1>Category: <%= investment.category %></h1>
<h5> Description: <%= investment.description %></h5>
<h4>Acquired Value: <%= investment.aquired_value %></h4>
<h4>Acquired Date: <%= investment.aquired_date%></h4>
<h4>Recent Value: <%= investment.recent_value%></h4>
<h4>Recent Date: <%= investment.recent_date%> </h4>

<a href="/investment/index">Back to All Investments </a> <br>
<a href="/customer/index">All Customers</a> <br>
<a href="/stock/index">All Stocks</a>
