<h1>Category: <%= investment.category %></h1>
<h5> Description: <%= investment.description %></h5>
<h4>Acquired Value: <%= investments.aquired_value %></h4>
<h4>Acquired Date: <%= investments.aquired_date%></h4>
<h4>Recent Value: <%= investments.recent_value%></h4>
<h4>Recent Date: <%= investments.recent_date%> </h4>
