<title> Sails Investments- BMac </title>
<div style="float: right"><img src="http://www.clipartbest.com/cliparts/ace/o7B/aceo7BKdi.gif" width="85" height="100" alt="Dollar Sign"/></div>
<div style="text-align: center">
  <h3> <a href="/../">Sails Homepage</a> </h3> </div>

<h3><u>All Customers</u></h3>
<h5>Click "Customer Summary" next to the user to add stocks or investments</h5>
<table border="2" rules="all">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th> Email Address</th>
    <th>Home Phone</th>
    <th> Cell Phone</th>
  </tr>
  <% _.each(customers, function(customer) { %>
  <tr data-id="<%= customer.id %>" data-model="customer" >
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= customer.street_address %></td>
    <td><%= customer.city%></td>
    <td><%= customer.state%></td>
    <td><%= customer.zip%></td>
    <td><%= customer.email%></td>
    <td><%= customer.home_phone%></td>
    <td><%= customer.cell_phone%></td>


    <td><a href="/customer/show/<%= customer.id %>">Customer Summary</a></td>
    <td><a href="/customer/edit/<%= customer.id %>">Edit</a></td>
    <td><a href="/customer/destroy/<%= customer.id %>">Delete</a></td>
  </tr>
  <% }) %>
</table>

<div> <p> <a href="../customer/new"> Create New Customer </a></p> </div>
<div> <p> <a href="../stock/"> All Stocks </a></p> </div>
<div> <p> <a href="../investment/"> All Investments</a></p> </div>

