<title> Sails Investments- BMac </title>

<div style="float: right"><img src="http://www.clipartbest.com/cliparts/ace/o7B/aceo7BKdi.gif" width="85" height="100" alt="Dollar Sign"/></div>
<div style="text-align: center">
  <h3> <a href="/../">Sails Homepage</a> </div> </h3>

<h1><%= customer.name %></h1>
<hr>
<h3><u>Address:</u></br> </h3>
  <h4><%= customer.street_address %></h4>
<h5><%= customer.city + ', ' + customer.state + '      '+customer.zip %></h5>
<h3><u>Contact Information:</u></h3>
<h4>Email: <%=customer.email%></h4>
<h4>Home Phone: <%=customer.home_phone%></h4>
<h4>Cell Phone: <%=customer.cell_phone%></h4>

<form action="/customer/edit/<%= customer.id %>" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="hidden" value="<%= customer.name %>" name="name" />
  <input type="submit" value="Edit Customer" />
</form>

  <h3>Customer Stocks</h3>
<div style="text-align:center;">
<table>
  <tr>
    <th> Symbol</th>
    <th>Stock Name</th>
    <th>Number of Shares</th>
    <td>Purchase Price</td>
    <th>Current Price</th>
    <th> Change </th>
    <th>Date Purchased</th>
  </tr>
<% _.each(customer.stocks, function(stock) { %>
<tr data-id="<%= stock.id %>" data-model="stock" >
<td> <%= stock.symbol %></td>
<td> <%= stock.name %></td>
<td><%= stock.number_of_shares %></td>
  <td><%= stock.purchase_price %></td>
<td>$<%= stock.current_price %></td>
  <td> <%= stock.gain %> </td>
<td> <%= stock.date_purchased%></td>
  <td><a href="/stock/show/<%= stock.id %>">Show</a></td>
  <td><a href="/stock/edit/<%= stock.id %>">Edit</a></td>
  <td><a href="/stock/destroy/<%= stock.id %>">Delete</a></td>
  </tr>
  <% }); %>
  </table>


<h4>  Total Profit between all stocks: $<%=  customer.stock_profit%></h4>



  </div>
</br>
<form action="/stock/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="hidden" value="<%= customer.name %>" name="name" />
  <input type="submit" value="Add Stock" />
</form>

<h3>Investments</h3>

<div style="text-align:center;">
  <table>
  <tr>
    <th> Investment ID</th>
    <th> Investment Category</th>
    <th>Investment Description</th>
    <th>Aquired Date</th>
    <th>Aquired Value</th>
    <th>Recent Date</th>
    <th>Recent Value</th>
  </tr>

  <% _.each(customer.investments, function(investment) { %>
  <tr data-id="<%= investment.id %>" data-model="investment" > </tr>
    <td><%= investment.id%></td>
    <td><%=investment.category%></td>
    <td><%= investment.description %></td>
    <td><%= investment.aquired_date %></td>
    <td><%= investment.aquired_value %></td>
    <td><%= investment.recent_date%></td>
    <td><%= investment.recent_value%></td>
    <td><a href="/investment/show/<%= investment.id %>">Show</a></td>
    <td><a href="/investment/edit/<%= investment.id %>">Edit</a></td>
    <td><a href="/investment/destroy/<%= investment.id %>">Delete</a></td>
  <% }); %>
  </table>
  </br>
</div>
<form action="/investment/new" method="POST">
  <input type="hidden" value="<%= customer.id %>" name="owner" />
  <input type="hidden" value="<%= customer.name %>" name="name" />
  <input type="submit" value="Add Investment" />
  </br>



</br>


  <a href="/customer/index">Back to All Customers</a>






